In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.

# Load the data
data_2020 = pd.read_csv('/Users/alishaoutridge/Documents/GitHub/athletic_sales_analysis/M5_Starter_Code/Resources/athletic_sales_2020.csv')
data_2021 = pd.read_csv('/Users/alishaoutridge/Documents/GitHub/athletic_sales_analysis/M5_Starter_Code/Resources/athletic_sales_2021.csv')

In [6]:
# Display the 2020 sales DataFrame
# Display the first few rows of the data as a test that I did it correctly
print(data_2020.head())
print(data_2021.head())

# DoubleCheck data types
print(data_2020.dtypes)
print(data_2021.dtypes)

# DoubleCheck for column name consistency
print(data_2020.columns)
print(data_2021.columns)

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object
Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')
Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')

In [7]:
# Display the 2021 sales DataFrame
print(data_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [8]:
# Check the 2020 sales data types.
# Display the data types of each column
print(data_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [9]:
# Check the 2021 sales data types.

# Display the data types of each column
print(data_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [11]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_data = pd.concat([data_2020, data_2021], ignore_index=True)

#reset Index & drop the old one to avoid confusion
combined_data.reset_index(drop=True, inplace=True)

#verify it looks correct
print(combined_data.head())
print(combined_data.tail())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet
         retailer  retailer_id invoice_date     region         state  \
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city        product  price_per_unit  units_sold  total_sales  \
9638  Philadelphia  Men's Apparel              63          47         2961
9639  Philadelphia  Men's Apparel              46          56         2576
9640      Portland  Men's Apparel              52          36         1872
9641      Portland  Men's Apparel              55         125        68750
9642  Philadelphia  Men's Apparel              70         175       122500

      operating_profit sales_method
9638           1362.06       Online
9639           1004.64       Outlet
9640            692.64       Online
9641          17187.50       Outlet
9642          42875.00       Outlet

In [12]:
# Check if any values are null.

null_counts = combined_data.isnull().sum()

# Display the number of null values in each column to verify
print(null_counts)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [13]:
# Check the data type of each column
data_types = combined_data.dtypes

# Display the data types
print(data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [21]:
#Check Invoice Date field
#print(combined_data['invoice_date'].head())

# Convert the "invoice_date" to a datetime datatype
combined_data['invoice_date'] = pd.to_datetime(combined_data['invoice_date'], format='%Y/%m/%d', errors='coerce')

# Verify the data type to confirm the conversion was successful
print(combined_data['invoice_date'].dtype)

datetime64[ns]

In [22]:
# Verify that the "invoice_date" data type has been changed successfully.
print(combined_data['invoice_date'].dtype)

datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [28]:
# Assignment instructions:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
# Show the top 5 results.

# Start Lish work below:

# Group the data by 'region', 'state', 'city' and sum the 'units_sold' column
product_sales = combined_data.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the sum column
product_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Sort the results in descending order and show the top 5
top_five_product_sales = product_sales.sort_values(by='Total_Products_Sold', ascending=False).head(5)

# Display the top 5 results
print(top_five_product_sales)

#Verify columns & data types
#print(data_types)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [30]:
#Instructions provided
# Show the number products sold for region, state, and city.
# Rename the "units_sold" column to "Total_Products_Sold"
# Show the top 5 results.

# Lish Work below

# Use pivot_table to sum 'units_sold' grouped by 'region', 'state', and 'city'
product_sales = combined_data.pivot_table(values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')

# Rename the 'units_sold' column to 'Total_Products_Sold'
product_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Reset the index to make 'region', 'state', and 'city' regular columns again
product_sales.reset_index(inplace=True)

# Sort the results in descending order and show the top 5
top_five_product_sales = product_sales.sort_values(by='Total_Products_Sold', ascending=False).head(5)

# Display the top 5 results
print(top_five_product_sales)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [31]:
# Instructions
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.

# Lish Work below

# Group the data by 'region', 'state', 'city' and sum the 'total_sales' column
total_sales = combined_data.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the 'total_sales' column to 'Total Sales'
total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the results in descending order and show the top 5
top_total_sales = total_sales.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results
print(top_total_sales)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [46]:
# Intructions below:
#Show the total sales for the products sold for each region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.

# Lish Work

# Use pivot_table to sum 'total_sales' grouped by 'region', 'state', and 'city'
total_sales_pivot = combined_data.pivot_table(values='total_sales', 
                                              index=['region', 'state', 'city'], 
                                              aggfunc='sum')

# Rename the aggregated column to 'Total Sales'
total_sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Reset the index to make 'region', 'state', and 'city' regular columns again
total_sales_pivot.reset_index(inplace=True)

# Sort the results in descending order and show the top 5
top_total_sales = total_sales_pivot.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results to verify
print(top_total_sales)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [47]:
#Instructions:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#Lish Work Below:
# Group the data by 'retailer', 'region', 'state', and 'city' and sum the 'total_sales' column
sales_by_location = combined_data.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the 'total_sales' column to 'Total Sales'
sales_by_location.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the results in descending order and show the top 5
top_sales_locations = sales_by_location.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results to verify
print(top_sales_locations)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [48]:
# Instructions:
#Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.

# Lish Work:
# Use pivot_table to sum 'total_sales' grouped by 'retailer', 'region', 'state', and 'city'
retailer_sales_pivot = combined_data.pivot_table(values='total_sales', 
                                                 index=['retailer', 'region', 'state', 'city'], 
                                                 aggfunc='sum')

# Rename the aggregated column to 'Total Sales'
retailer_sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Reset the index to make 'retailer', 'region', 'state', and 'city' regular columns again
retailer_sales_pivot.reset_index(inplace=True)

# Sort the results in descending order and show the top 5
top_retailer_sales = retailer_sales_pivot.sort_values(by='Total Sales', ascending=False).head(5)

# Display the top 5 results to verify
print(top_retailer_sales)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [49]:
# Filter the sales data to get the women's athletic footwear sales data.

womens_footwear_sales = combined_data[combined_data['product'] == "Women's Athletic Footwear"]

# Display the filtered data to verify
print(womens_footwear_sales.head())

       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   2020-01-04  Northeast      New York
22  Foot Locker      1185732   2020-01-04  Northeast      New York
23  Foot Locker      1185732   2020-01-04  Northeast      New York
26    West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27    West Gear      1128299   2020-01-05  Northeast  Pennsylvania

            city                    product  price_per_unit  units_sold  \
21      New York  Women's Athletic Footwear              36         281
22      New York  Women's Athletic Footwear              41         247
23      New York  Women's Athletic Footwear              45         850
26  Philadelphia  Women's Athletic Footwear              45         300
27  Philadelphia  Women's Athletic Footwear              34          90

    total_sales  operating_profit sales_method
21        10116           3742.92       Outlet
22        10127           4658.42       Online
23       382500         133875.00     In-store
26       135000          47250.00       Outlet
27         3060           1254.60       Outlet

#### Using `groupby`

In [51]:
# Instructions:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.

# Lish Work:

# Filter the DataFrame for women's athletic footwear
womens_footwear_data = combined_data[combined_data['product'] == "Women's Athletic Footwear"]

# Group the data by 'retailer', 'region', 'state', and 'city' and sum the 'units_sold' column
womens_footwear_sales = womens_footwear_data.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the 'units_sold' column to 'Womens_Footwear_Units_Sold'
womens_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Sort the results in descending order and show the top 5
top_womens_footwear_sales = womens_footwear_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results to verify
print(top_womens_footwear_sales)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [52]:
# Instructions: 

# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.

# Lish Work:

# Filter the DataFrame for women's athletic footwear
womens_footwear_data = combined_data[combined_data['product'] == "Women's Athletic Footwear"]

# Use pivot_table to aggregate units sold for women's athletic footwear by retailer, region, state, and city
womens_footwear_sales_pivot = womens_footwear_data.pivot_table(values='units_sold',
                                                               index=['retailer', 'region', 'state', 'city'],
                                                               aggfunc='sum')

# Rename the aggregated column to 'Womens_Footwear_Units_Sold'
womens_footwear_sales_pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Reset the index to turn multi-index into regular columns for sorting
womens_footwear_sales_pivot.reset_index(inplace=True)

# Sort the results in descending order and display the top 5
top_womens_footwear_sales = womens_footwear_sales_pivot.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results to verify
print(top_womens_footwear_sales)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [67]:
# Instructions:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the table.

# Lish Work:

# Filter the DataFrame for women's athletic footwear
womens_footwear_data = combined_data[combined_data['product'] == "Women's Athletic Footwear"].copy()  # Make a copy if you don't need to modify the original

# Safely convert 'invoice_date' to datetime format
womens_footwear_data.loc[:, 'invoice_date'] = pd.to_datetime(womens_footwear_data['invoice_date'])

# Create a pivot table with 'invoice_date' as the index and sum of 'total_sales' as the values
daily_sales = womens_footwear_data.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')

# Rename the 'total_sales' column to 'Total Sales'
daily_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Display the pivot table to verify
print(daily_sales)

# Print the specific day that had the most sales

# Sort the results to find the day with the highest sales
top_sales_day = daily_sales.sort_values(by='Total Sales', ascending=False).head(1)

# Display the day with the highest sales
print('Top Sales Day:', top_sales_day)

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]
Top Sales Day:               Total Sales
invoice_date
2021-07-16        1521825

In [69]:
# Instructions:
# Resample the pivot table into daily bins, and get the total sales for each day.
# Sort the resampled pivot table in ascending order on "Total Sales".

# Lish Work:
# Resample the data to ensure it is aggregated daily (in case of any missing days)
daily_sales_resampled = daily_sales.resample('D').sum()

# Sort the resampled pivot table in ascending order based on 'Total Sales'
sorted_daily_sales = daily_sales_resampled.sort_values(by='Total Sales', ascending=True)

# Display the sorted daily sales
print(sorted_daily_sales)

# Sort the results to find the day with the highest sales
top_sales_day = daily_sales.sort_values(by='Total Sales', ascending=False).head(1)

# Display the day with the highest sales
print('Top Sales Day:', top_sales_day)

              Total Sales
invoice_date
2021-01-01              0
2020-10-10              0
2020-10-09              0
2020-10-07              0
2020-10-06              0
...                   ...
2021-07-23        1021806
2021-08-17        1086294
2021-06-17        1376988
2021-12-16        1473497
2021-07-16        1521825

[727 rows x 1 columns]
Top Sales Day:               Total Sales
invoice_date
2021-07-16        1521825

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [72]:
# Instructions:
# Resample the pivot table into weekly bins, and get the total sales for each week.
# Sort the resampled pivot table in ascending order on "Total Sales".

# Lish Work:
# Resample the data into weekly bins and sum to get total sales for each week
weekly_sales = daily_sales.resample('W').sum()

# Sort the resampled pivot table in descending order based on 'Total Sales' to get the most sales
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)

# Display the sorted weekly sales
print(sorted_weekly_sales)

# Display the week with the highest sales
print('Top Sales Week:', sorted_weekly_sales.head(1))

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]
Top Sales Week:               Total Sales
invoice_date
2021-12-19        3098970